body{
	background-color:#FFB6C1;
}
div{
	color:white;
	background-color:#8A2BE2;
}
a{
	text-decoration:none;
	color:white;
}
a.credit{
    color:blue;
}
input[type=submit] {
	padding:5px 15px;
	background:#FFFFFF;
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

div.img{
	position:absolute;
	top:0em;
	left:0em;
	width:20em;
	height:14em;
	z-index:100;
}
li{
	list-style-type: none;
}

div.listOfService{
	position:absolute;
	top:13em;
	left: 0em;
	width: 20em;
	height:45em;
}
footer.footer{
	position:absolute;
	top:58em;
	left:0em;
	color:white;
	background-color:#8A2BE2;
	text-align: center;
	height:2.5em;
	width:120em;
	
}
div.upside{
	position:absolute;
	top:0em;
	left:0em;
	background-color:#8A2BE2;
	width:119em;
	height:13em;
}
div.title{
	position:absolute;
	top:0em;
	left:55em;
	font-size:1em;
	text-align: center;
}
div.subtitle{
	position: absolute;
	top:5em;
	left:51em;
	font-size:1em;
	text-align: center;
}
div.products{
	padding-top:2em;
	text-align: center;
	width:20em;
	height:5em;
	position:absolute;
	top:15em;
	left:45em;
	background-color:#D3D3D3;
	font-size:1em;
	color:black;
}
div.credits{
	padding-top:2em;
	text-align: center;
	width:20em;
	height:5em;
	position:absolute;
	top:24em;
	left:55em;
	color:blue;
	background-color:#D3D3D3;
	font-size:1em;
}
div.contributions{
	padding-top:2em;
	text-align: center;
	width:20em;
	height:5em;
	position:absolute;
	top:33em;
	left:45em;
	color:yellow;
	font-size:1em;
	background-color:#D3D3D3;
}
div.insurance{
	padding-top:2em;
	text-align: center;
	width:20em;
	height:5em;
	position:absolute;
	top:42em;
	left:55em;
	color:green;
	background-color:#D3D3D3;
	font-size:1em;
}
div.ipoteka{
	padding-top:2em;
	text-align: center;
	width:20em;
	height:5em;
	position:absolute;
	top:22em;
	left:55em;
	color:blue;
	background-color:#D3D3D3;
	font-size:1em;
}
div.auto{
	padding-top:2em;
	text-align: center;
	width:20em;
	height:5em;
	position:absolute;
	top:32em;
	left:55em;
	color:blue;
	background-color:#D3D3D3;
	font-size:1em;
}
div.potreb{
	padding-top:2em;
	text-align: center;
	width:20em;
	height:5em;
	position:absolute;
	top:42em;
	left:55em;
	color:blue;
	background-color:#D3D3D3;
	font-size:1em;
}
